#form-container {
    background-color: white;
    border: solid;
    border-color: rgba(0,157,224);
    border-width: medium;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 600px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 16px;
}

input {
    padding: 1.5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
}

.delivery-price {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 25px;
}

button {
    background-color: rgba(0,157,224);
    border: 1px solid;
    border-color: rgba(0,157,224);
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;;
  }

  button:hover {
    background-color: rgba(0,157,224, 0.8);
    transform: scale(1.05);
  }
