#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: #009de0;
  padding: 40px;
  margin: 0;
}